h1 {
    font-size: 36px;
    padding: 5px 10px;
} 

h2 {
    font-size: 36px;
}

p {
    font-size: 16px;
    line-height: 16px;
}

img {
    margin: 10px 0 10px 10px;
}

.wrapper {
    background-image: url("../images/hypnotize.png");
    height: 100%;
    width: 100%;
    position: fixed;
}

#top {
    background-color: brown;
    color: white;
    display: inline-block;
    margin: 10px 0;
    margin-left: 20px;
}

#instructions {
    background-color: tan;
    color: green;
    width: 600px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#random {
    background-color: green;
    color: purple;
    float: left;
    width: 300px;
    height: 120px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#wins-losses {
    background-color: turquoise;
    color: black;
    width: 150px;
    height: 120px;
    margin-left: 20px;
    overflow: auto;
    margin-bottom: 5px;
}

#crystals {
    /* background-color: white;
    width: 460px; */
    margin-left: 20px;
    margin-bottom: 5px;
}

#score-1 {
    background-color: teal;
    color: white;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#score-2 {
    background-color: teal;
    color: white;
    width: 300px;
    margin-left: 20px;
}

#top, #instructions, #random, #wins-losses, #score-1, #score-2 {
    padding: 5px 10px;
}


@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

}